<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>CRUD Application Using Vue.js, PHP & MySQLi</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">
<style>
	#overlay {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.6);
	}
</style>
<body>
<div id="app">
	<div class="container-fluid">
		<div class="row bg-dark">
			<div class="col-lg-12">
				<p class="text-center text-light display-4 pt-2" style="font-size: 25px;">CRUD Application Using Vue.js, PHP & MySQLi</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row mt-3">
			<div class="col-lg-6">
				<h3 class="text-info">登録ユーザ</h3>
			</div>
			<div class="col-lg-6">
				<button class="btn btn-info float-right" @click="showAddModal=true">
					<i class="fas fa-user"></i>&nbsp;&nbsp;ユーザ情報登録
				</button>
			</div>
		</div>

		<hr class="bg-info">

		<div class="alert alert-danger" v-if="errorMsg">
			{{ errorMsg }}
		</div>
		<div class="alert alert-success" v-if="successMsg">
			{{ successMsg }}
		</div>

		<!-- Displaying Records -->
		<div class="row">
			<div class="col-lg-12">
				<table class="table table-bordered table-striped">
					<thead>
						<tr class="text-center bg-info text-light">
							<th>ID</th>
							<th>名前</th>
							<th>メールアドレス</th>
							<th>電話番号</th>
							<th>編集</th>
							<th>削除</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-center" v-for="user in users">
							<td>{{ user.id }}</td>
							<td>{{ user.name }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.phone }}</td>
							<td><a href="#" class="text-success" @click="showEditModal=true; selectUser(user);"><i class="fas fa-edit"></i></a></td>
							<td><a href="#" class="text-danger" @click="showDeleteModal=true; selectUser(user);"><i class="fas fa-trash-alt"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- Add New User Model -->
	<div id="overlay" v-if="showAddModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">ユーザ情報登録</h5>
					<button type="button" class="close" @click="showAddModal=false">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body p-4">
					<form action="#" method="post">
						<div class="form-group">
							<input type="text" name="name" class="form-control form-control-lg" placeholder="名前" v-model="newUser.name">
						</div>
						<div class="form-group">
							<input type="email" name="email" class="form-control form-control-lg" placeholder="メールアドレス" v-model="newUser.email">
						</div>
						<div class="form-group">
							<input type="tel" name="phone" class="form-control form-control-lg" placeholder="電話番号" v-model="newUser.phone">
						</div>
						<div class="form-group">
							<button class="btn btn-info btn-block btn-lg" @click="showAddModal=false; addUser(); clearMsg();">ユーザ情報登録</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Edit User Model -->
	<div id="overlay" v-if="showEditModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">ユーザ情報編集</h5>
					<button type="button" class="close" @click="showEditModal=false">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body p-4">
					<form action="#" method="post">
						<div class="form-group">
							<input type="text" name="name" class="form-control form-control-lg" placeholder="名前" v-model="currentUser.name">
						</div>
						<div class="form-group">
							<input type="email" name="email" class="form-control form-control-lg" placeholder="メールアドレス" v-model="currentUser.email">
						</div>
						<div class="form-group">
							<input type="tel" name="phone" class="form-control form-control-lg" placeholder="電話番号" v-model="currentUser.phone">
						</div>
						<div class="form-group">
							<button class="btn btn-info btn-block btn-lg" @click="showEditModal=false; updateUser(); clearMsg();">ユーザ情報更新</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Delete User Model -->
	<div id="overlay" v-if="showDeleteModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">ユーザ情報削除</h5>
					<button type="button" class="close" @click="showDeleteModal=false">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body p-4">
					<h4 class="text-danger">本当に削除してよろしいですか？</h4>
					<h5>'{{ currentUser.name }}'</h5>
					<hr>
					<button class="btn btn-danger btn-lg" @click="showDeleteModal=false; deleteUser(); clearMsg();">はい</button>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<button class="btn btn-success btn-lg" @click="showDeleteModal=false">いいえ</button>
				</div>
			</div>
		</div>
	</div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/assets/scripts/_demo.js"></script>
</body>
</html>